.container {
  padding: 64px 16px;
}
.title {
  color: var(--templateColor);
  font-size: var(--PageTitleSize);
  margin-bottom: 50px;
}

.sponsors {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.img {
  width: calc(100% / 3 - 32px);
  margin-bottom: 45px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: 65%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .img img {
    width: 100%;
  }
}
