.container {
  padding: 64px 16px;
}
.title {
  color: var(--templateColor);
  font-size: var(--PageTitleSize);
  margin-bottom: 50px;
}

.sponsors {
  display: flex;
  justify-content: center;
}

.img img {
  width: auto;
  height: 300px;
}

@media screen and (max-width: 768px) {
  .img img {
    width: auto;
    height: 200px;
  }
}
