.hero {
  width: 1280px;
  height: calc(100vh - 100px);
  color: #fff;
  display: flex;
}

.left-side {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.title {
  font-size: 40px;
}

.first-text {
}
.second-text {
}
