.infosContainer {
  width: var(--containerSize);
  color: var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 16px;
}

.infosItem {
  display: flex;
  align-items: center;
  gap: 70px;
}

.title {
  color: var(--templateColor);
  font-size: 28px;
  line-height: 40px;
  width: 400px;
}

.descr {
  font-size: 20px;
  line-height: 30px;
  width: calc(100% - 400px);
}

hr {
  margin: 50px 0;
  height: 1px;
  background-color: rgba(247, 243, 243, 0.2);
  border: none;
}

a {
  text-decoration: none;
  color: var(--textColor);
}
