.container {
  width: 100%;
  height: 100px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--bg);
}

.navbar {
  width: var(--containerSize);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  color: var(--templateColor);
  font-size: 25px;
  cursor: pointer;
}

.navCenter {
  display: flex;
  list-style: none;
  font-weight: 500;
  color: var(--textColor);
  gap: 40px;
}

.li {
  cursor: pointer;
  display: inline-flex;
  color: var(--textColor);
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.3s ease-in-out;
}

.li:hover {
  color: var(--templateColor);
}

.navEnd {
  display: flex;
  gap: 10px;
}

.button {
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--templateColor);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
